:root {
    /* colors */
    --white: hsl(0, 0%, 100%);
    --stone--100: hsl(30, 54%, 90%);
    --stone--150: hsl(30, 18%, 87%);
    --stone--600: - Stone 600: hsl(30, 10%, 34%);
    --stone--900: hsl(24, 5%, 18%);
    --brown--800: hsl(14, 45%, 36%);
    --rose--800: hsl(332, 51%, 32%);
    --rose--50: hsl(330, 100%, 98%);

    /* fonts */
    --young--serif--400: 400;
    --outfit--400: 400;
    --outfit--600: 600;
    --outfit--700: 700;
}

@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background: var(--stone--100);
    max-height: 100vh;
    padding: 50px;
}

h1.title {
    color: var(--stone--900);
}

p,
li {
    font-family: "Outfit";
    color: var(--stone--600);
}

.heading__two,
li::marker {
    color: var(--brown--800);
}

.container {
    max-width: 500px;
    background-color: var(--white);
    padding: 25px;
    border-radius: 25px;
}

.container img {
    border-radius: 10px;
}

.card {
    background-color: var(--rose--50);
}

.card__title {
    color: var(--rose--800);
    font-weight: var(--outfit--600);
}

.card li::marker {
    color: var(--rose--800);
}

.card li > strong,
ol li > strong {
    color: var(--stone--900);
}