@import "fonts";
@import "mixins";
@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-primary;
  font-weight: $font-weight-medium;
}

body {
  font-size: $font-size-sm;
  background: $neutral-cream;
  height: 100vh;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-height: 500px;
  max-width: 500px;
}

.product-image {
  width: 100%;
  max-width: 100px;
  max-height: 50px;
}
