@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  /* colors */
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  /* font */
  --fw-400: 400;
  --fw-700: 700;
  --fs-22: 22px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

body {
  background: var(--slate-300);
}

main {
  max-width: 1440px;
  max-height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure {
  width: 320px;
  height: 499px;
  background-color: var(--white);
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

h1 {
  font-size: var(--fs-22);
  font-weight: var(--fw-700);
  line-height: 120%;
  color: var(--slate-900);
  width: 256px;
  height: 52px;
}

p {
  font-size: 15px;
  font-weight: var(--fw-400);
  line-height: 140%;
  color: var(--slate-500);
  width: 256px;
  height: 63px;
}

figure > h1,
figure > p {
  text-align: center;
}
