:root {
  /* colors */
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  /* fonts */
  --normal: 400;
  --medium: 500;
  --bold: 700;
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\wght.ttf);
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--grey-900);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  min-height: 400px;
  background-color: var(--grey-800);
  border-radius: 10px;
  padding: 30px;
}

.container img {
  width: 70px;
  border-radius: 100px;
}

.container h2 {
  color: var(--white);
  font-weight: var(--bold);
}

.container p:nth-of-type(1) {
  color: var(--green);
  font-weight: var(--medium);
}

.container p:nth-of-type(2) {
  color: rgb(206, 200, 200);
}

ul li {
  list-style: none;
}

li > a {
  color: var(--white);
  font-weight: var(--bold);
  text-decoration: none;
}

a {
  display: inline-block;
  text-align: center;
  padding: 15px 50px;
  margin-bottom: 20px;
  width: 100%;
  background-color: var(--grey-700);
  border-radius: 8px;
}
